.temperature-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 50px;

  .hour-style {
    font-size: 20px;
  }

  .temperature-style {
    font-size: 12px;
  }
}
