<mat-card class="centered-content">
  <mat-card-title>Register New User</mat-card-title>
  <br />
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input type="text" matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input type="text" matInput placeholder="Password" formControlName="password" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <br />

      @if (form.get('firstName')?.touched && form.get('firstName')?.hasError('required')) {
        <mat-error>Please enter first name.</mat-error>
      }

      @if (form.get('lastName')?.touched && form.get('lastName')?.hasError('required')) {
        <mat-error>Please enter last name.</mat-error>
      }

      @if (form.get('username')?.touched && form.get('username')?.hasError('required')) {
        <mat-error>Please enter username.</mat-error>
      }

      @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
        <mat-error>Please enter password.</mat-error>
      }

      @if (
        form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')
      ) {
        <mat-error>Please enter password confirmation.</mat-error>
      }

      @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
        <mat-error>Please enter email address.</mat-error>
      }

      @if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
        <mat-error>Please enter valid email address.</mat-error>
      }

      @if (form.touched && form.hasError('passwordConfirmationError')) {
        <mat-error>Password and password confirmation must match.</mat-error>
      }

      @if (error) {
        <mat-error>{{ error }}</mat-error>
      }
      <br />
      <div class="left-button">
        <button (click)="returnToLogin()" type="button" matButton>Return to Login</button>
      </div>
      <div class="right-button">
        <button (click)="register()" type="submit" matButton>Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
