mat-card {
  padding: 20px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}
