.header {

    width: 100%;

    .application-title {
        color: white;
        font-size: 30px;
        padding-top: 20px;
        float: left;
    }

    .button {
        float: right;
        padding-top: 10px;
        padding-right: 10px;

        .button-color {
            color: white !important;
        }
    }
}