<div class="device-name-and-delete-button-container">
  <div class="device-name">
    @if (deviceInformation && deviceInformation.deviceName) {
      <h1>{{ deviceInformation.deviceName }}</h1>
    } @else {
      <h1>Device Name Unavailable</h1>
    }
  </div>

  @if (locationId) {
    <div>
      <button matButton="outlined" (click)="returnToViewLocation()">Return to Location</button>
    </div>
  }

  @if (deviceExists) {
    <div class="delete-button">
      <button matButton="outlined" (click)="deleteDeviceVerification()"><mat-icon>delete</mat-icon>Delete Device</button>
    </div>
  }
</div>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="4" [rowspan]="2" [style.background]="'lightblue'">
    <div class="most-recent-temperature-container">
      <h1>Most Recent Temperature Recorded</h1>
      @if (deviceInformation && deviceInformation.mostRecentTemperatureAvailable) {
        <div class="temperature-display">{{ deviceInformation.mostRecentTemperature }}</div>
        @if (currentTemperatureDate) {
          <div class="date-recorded-display">
            {{ currentTemperatureDate | date: 'MM/dd/yyyy h:mm a' }}
          </div>
        }
      } @else {
        <div>Most Recent Temperature Information Not Available</div>
      }
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="2" [style.background]="'lightgreen'">
    <div class="temperature-by-hour-container">
      <h1 class="title">Temperatures by Hour (Past 24 hours)</h1>
      <div class="hourly-display">
        @for (tempByHour of generateHourlyTemperatureReading(); track tempByHour.hour) {
          <div class="individual-temperature-item">
            <display-temp-by-hour
              [hour]="tempByHour.hour"
              [temperature]="tempByHour.averageTemperature"
              [temperatureAvailable]="tempByHour.temperatureAvailable || false"
            />
          </div>
        }
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
