.home-card {
  width: 100%;
  min-width: 350px;

  .home-card-content {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    align-items: center;
    gap: 10px;

    .default-home-icon {
      height: 200px;
      object-fit: contain;
    }

    .entity-totals-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .entity {
        display: flex;
        flex-direction: row;
        align-items: center;

        .entity-icon {
          width: 75px;
        }

        .total-items {
          font-size: 30px;
        }
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
      width: 100%;
    }
  }
}
