<mat-card class="home-card" appearance="outlined">
  <mat-card-header>
    @if (homeInfo && homeInfo.summary && homeInfo.summary.homeName) {
      <mat-card-title>{{ homeInfo.summary.homeName }}</mat-card-title>
    } @else {
      <mat-card-title>Home Name Unavailable</mat-card-title>
    }
  </mat-card-header>
  <div class="home-card-content">
    <div>
      <img class="default-home-icon" mat-card-image src="home-icon-main.svg" alt="Home icon." />
    </div>
    <div class="entity-totals-container">
      <div class="entity">
        <img src="location-icon.svg" class="entity-icon" alt="Location icon." />
        @if (
          homeInfo &&
          homeInfo.summary &&
          (homeInfo.summary.totalLocations || homeInfo.summary.totalLocations === 0)
        ) {
          <div class="total-items">{{ homeInfo.summary.totalLocations }}</div>
        } @else {
          <div class="total-items">N/A</div>
        }
      </div>
      <div class="entity">
        <img src="device-icon.svg" class="entity-icon" alt="Device icon." />
        @if (
          homeInfo &&
          homeInfo.summary &&
          (homeInfo.summary.totalDevices || homeInfo.summary.totalDevices === 0)
        ) {
          <div class="total-items">{{ homeInfo.summary.totalDevices }}</div>
        } @else {
          <div class="total-items">N/A</div>
        }
      </div>
    </div>
  </div>
  <mat-card-actions class="button-container">
    @if (this.homeInfo && this.homeInfo.entityId) {
      <button matButton="outlined" (click)="viewHomeById()">View</button>
      <button matButton="filled" (click)="deleteHomeConfirmation()">
        <mat-icon>delete</mat-icon>Delete
      </button>
    }
  </mat-card-actions>
</mat-card>
