.titleElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.location-name-and-delete-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  .location-name {
    float: left;
  }

  .delete-button {
    float: right;
  }
}
