<div class="top-row-container">
  @if (locationInfo && locationInfo.locationName) {
    <div class="title">{{ locationInfo.locationName }}</div>
  } @else {
    <div class="title">Location Name Unavailable</div>
  }
  <div class="button-container">
    @if (locationInfo) {
      <button class="button-display" matButton="outlined" (click)="deleteLocationConfirmation()">
        <mat-icon>delete</mat-icon>Delete Location
      </button>
      @if (!locationInfo.threshold) {
        <button
          class="button-display"
          matButton="filled"
          (click)="displayTemperatureThresholdModal()"
        >
          Set Temperature Threshold
        </button>
      }
      <button class="button-display" matButton="filled" (click)="viewRegisterDevicePage()">
        Register New Device
      </button>
    }
  </div>
</div>

<div class="body-content-container">
  <div class="temperature-container">
    @if (locationInfo && locationInfo.threshold) {
      <div>
        <temperature-threshold-card />
      </div>
    }
    <div>
      @if (
        locationInfo &&
        locationInfo.devices.length > 0 &&
        (averageTemperature || averageTemperature === 0)
      ) {
        <p class="current-average-location-temperature">
          {{ averageTemperature | number: '1.2-2' }}°F
        </p>
      } @else {
        <div class="no-current-average-location-temperature">
          <img src="temperature-icon.svg" class="icon" alt="Temperature icon." />
          @if (locationInfo && locationInfo.devices.length > 0) {
            <div class="no-temperature-message-top-line">
              There have been no temperature readings in the past 10 minutes for this location.
            </div>
            <div>Please ensure your devices are on and functioning.</div>
          } @else {
            <div>Please register a device to begin recording temperatures.</div>
          }
        </div>
      }
    </div>
  </div>
  <div class="right-panel">
    @if (locationInfo && locationInfo.devices) {
      <h2>Devices [{{ locationInfo.devices.length }}]</h2>
    } @else {
      <h2>Devices [0]</h2>
    }
    <div class="devices-container">
      <div class="device-items">
        @if (locationInfo && locationInfo.devices && locationInfo.devices.length > 0) {
          @for (device of locationInfo.devices; track device.deviceId) {
            <device-card [deviceInfo]="device" />
          }
        } @else {
          <div class="no-devices-registered-container">
            <img src="frozen-house-icon.svg" class="icon" alt="Frozen house icon." />
            <div>Unfreeze this location by registering a device.</div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
