.location-card {
  width: 100%;
  min-width: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .location-card-content {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    .temperature {
      padding-left: 15px;
    }

    .average-temperature {
      font-size: 50px;
    }

    .default-temperature {
      font-size: 100px;
    }

    .entity {
      display: flex;
      flex-direction: row;
      align-items: center;

      .entity-icon {
        width: 75px;
      }

      .total-items {
        font-size: 30px;
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
      width: 100%;
    }
  }
}
