<mat-card class="location-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ locationInfo.locationName }}</mat-card-title>
  </mat-card-header>
  <div class="location-card-content">
    @if (averageTemperature) {
      <div class="temperature average-temperature">
        {{ averageTemperature | number: '1.2-2' }}°F
      </div>
    } @else {
      <div class="temperature default-temperature">-°F</div>
    }
    <div class="entity">
      <img src="device-icon.svg" class="entity-icon" alt="Device icon." />
      <div class="total-items">{{ locationInfo.devices.length }}</div>
    </div>
  </div>
  <mat-card-actions class="button-container">
    @if (this.locationInfo && this.locationInfo.locationId) {
      <button matButton="outlined" (click)="viewLocationById()">View</button>
      <button matButton="filled" (click)="deleteLocationConfirmation()">
        <mat-icon>delete</mat-icon>Delete
      </button>
    }
  </mat-card-actions>
</mat-card>
