.location-card {
  width: 100%;
  min-width: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .average-temperature {
    padding-left: 15px;
    font-size: 100px;
  }

  .total-items {
    font-size: 30px;
  }

  .flexDisplay {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
      width: 100%;
    }
  }

  .default-location-icon {
    height: 150px;
    object-fit: contain;
  }
}
