<div class="top-row-container">
  <h1>{{ homeName }}</h1>
  <div class="button-container">
    <button class="button-display" matButton="outlined" (click)="deleteHomeVerification()">
      <mat-icon>delete</mat-icon>Delete Home
    </button>

    <button class="button-display" matButton="filled" (click)="viewRegisterLocationPage()">
      Register New Location
    </button>
  </div>
</div>

<div class="body-content-container">
  <div class="locations-container">
    <h1>Locations</h1>
    <div class="location-items">
      @if (locations.length > 0) {
        @for (location of locations; track location.locationId) {
          <div class="location-item">
            <location-card
              [locationInfo]="location"
              (locationDeleted)="locationDeletedAction($event)"
            />
          </div>
        }
      } @else {
        <div class="no-locations-registered-container">
          <img class="no-locations-registered-icon" src="location-icon.svg" alt="Location icon." />
          <div class="no-locations-registered-text">
            You currently do not have any locations registered. Click the 'Register New Location'
            button to register a location.
          </div>
        </div>
      }
    </div>
  </div>
  <div class="home-overview-container">
    <div>
      <item-totals
        [displayTotalHomes]="false"
        [displayTotalLocations]="true"
        [totalLocations]="locations.length"
        [displayTotalDevices]="true"
        [totalDevices]="totalDevices"
      />
    </div>
  </div>
</div>
