<h1>{{ homeName }}</h1>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color"
    ><home-item-totals
      [displayTotalHomes]="false"
      [displayTotalLocations]="true"
      [totalLocations]="locations.length"
      [displayTotalDevices]="true"
      [totalDevices]="totalDevices"
  /></mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="10"
    [style.background]="tiles[1].color"
    style="display: flex; flex-direction: column"
  >
   <div style="height: 98%; width: 95%; overflow: scroll">
      <h1>Locations</h1>
      @if (locations.length > 0) {
        @for (location of locations; track location.locationId) {
          <div style="margin-bottom: 10px">
            <location-card [locationId]="location.locationId" [locationName]="location.locationName" />
          </div>
        }
      }
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
    [style.background]="tiles[2].color"
  >
    <div>Register New Location Button Goes Here.</div>
</mat-grid-tile>
</mat-grid-list>
