.home-card {
  width: 100%;
  min-width: 350px;

  .total-items {
    font-size: 30px;
  }

  .flexDisplay {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
      width: 100%;
    }
  }

  .default-home-icon {
    height: 200px;
    object-fit: contain;
  }
}
