@if (showBreadcrumbComponent) {
  @if (!isHomescreen()) {
    <div class="breadcrumb-display">
      @for (item of entityPath(); track item.entityId; let last = $last) {
        @if (!last) {
          <div class="clickable" (click)="navigate(item)">{{ item.label }}</div>
        } @else {
          @if (pageMode() === 'VIEW') {
            <div class="non-clickable">{{ item.label }}</div>
          }

          @if (pageMode() === 'ADD_CHILD' || pageMode() === 'EDIT') {
            <div class="clickable" (click)="navigate(item)">{{ item.label }}</div>
          }
        }

        @if (!last) {
          <div>></div>
        }
      }

      @if (breadcrumbSuffix()) {
        <div>></div>
        <div class="non-clickable">{{ breadcrumbSuffix() }}</div>
      }
    </div>
  }
}
