<h2>Summary</h2>
<div class="items-display">
  @if (displayTotalHomes) {
    <div class="item-display">
      <div>
        <img src="home-icon-summary.svg" class="item-icon" alt="Home icon." />
      </div>
      <div class="item-title">Total Homes</div>
      <div class="item-value">{{ totalHomes }}</div>
    </div>
  }

  @if (displayTotalLocations) {
    <div class="item-display">
      <div>
        <img src="location-icon.svg" class="item-icon" alt="Location icon." />
      </div>
      <div class="item-title">Total Locations</div>
      <div class="item-value">{{ totalLocations }}</div>
    </div>
  }

  @if (displayTotalDevices) {
    <div class="item-display">
      <div>
        <img src="device-icon.svg" class="item-icon" alt="Device icon." />
      </div>
      <div class="item-title">Total Devices</div>
      <div class="item-value">{{ totalDevices }}</div>
    </div>
  }
</div>
