<h2>Summary</h2>
<div class="items-display">
  @if (displayTotalHomes) {
    <div class="item-display">
      <div><mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home" /></div>
      <div>Total Homes</div>
      <div>{{ totalHomes }}</div>
    </div>
  }

  @if (displayTotalLocations) {
    <div class="item-display">
      <div><mat-icon aria-hidden="false" aria-label="Location icon" fontIcon="location_on" /></div>
      <div>Total Locations</div>
      <div>{{ totalLocations }}</div>
    </div>
  }

  @if (displayTotalDevices) {
    <div class="item-display">
      <div>
        <mat-icon aria-hidden="false" aria-label="Device icon" fontIcon="add_to_home_screen" />
      </div>
      <div>Total Devices</div>
      <div>{{ totalDevices }}</div>
    </div>
  }
</div>
