.items-display {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .item-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item-title {
      font-size: 20px;
    }

    .item-value {
      margin-top: 5px;
      font-size: 16px;
    }
  }

  mat-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
  }
}
