.device-card {
  width: 100%;

  .flexDisplay {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
      width: 100%;
    }
  }

  .default-device-icon {
    height: 200px;
    object-fit: contain;
  }
}
