.device-card {
  width: 100%;

  .device-card-content {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
      width: 100%;
    }
  }
}
