<div class="top-row-container">
  <div class="title">{{ greetingMessage }}</div>
  <button class="button-display" matButton="filled" (click)="viewRegisterHomePage()">
    Register New Home
  </button>
</div>

<div class="homescreen-container">
  <div class="home-container">
    <h1>Your Homes</h1>
    <div class="home-items">
      @if (homeInfo && homeInfo.length > 0) {
        @for (home of homeInfo; track home.homeId) {
          <div class="home-item">
            <home-card [homeInfo]="home" />
          </div>
        }
      } @else {
        <div class="no-homes-registered-container">
          <img class="no-homes-registered-icon" src="home-icon-main.svg" alt="Home icon." />
          <div class="no-homes-registered-text">
            You currently do not have any homes registered. Click the 'Register New Home' button to
            register a home.
          </div>
        </div>
      }
    </div>
  </div>
  <div class="account-overview-container">
    <item-totals
      [displayTotalHomes]="true"
      [totalHomes]="totalHomes"
      [displayTotalLocations]="true"
      [totalLocations]="totalLocations"
      [displayTotalDevices]="true"
      [totalDevices]="totalDevices"
    />
  </div>
</div>
