<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Minimum Temperature</mat-label>
      <input type="text" matInput formControlName="minimumTemperature" />
      @if (
        form.get('minimumTemperature')?.touched &&
        form.get('minimumTemperature')?.hasError('numberViolation')
      ) {
        <mat-error>Please enter a valid number.</mat-error>
      }
    </mat-form-field>
    <br />
    <br />
    <mat-form-field>
      <mat-label>Maximum Temperature</mat-label>
      <input type="text" matInput formControlName="maximumTemperature" />
      @if (
        form.get('maximumTemperature')?.touched &&
        form.get('maximumTemperature')?.hasError('numberViolation')
      ) {
        <mat-error>Please enter a valid number.</mat-error>
      }
    </mat-form-field>
    <br />
    @if (addButtonClicked && form.hasError('minMaxTempViolation')) {
      <mat-error>Minimum temperature must be less than or equal to maximum temperature.</mat-error>
    }

    @if (addButtonClicked && form.hasError('noValueEnteredViolation')) {
      <mat-error>Please enter a minimum and/or maximum temperature.</mat-error>
    }

    @if (addButtonClicked && form.hasError('noValueUpdatedViolation')) {
      <mat-error>Please update a temperature value.</mat-error>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="outlined" (click)="cancelAction()">Cancel</button>
  <button matButton="filled" (click)="primaryAction()">{{ primaryButtonText }}</button>
</mat-dialog-actions>
