<h1>{{ greetingMessage }}</h1>

<div style="display: flex; flex-direction: row; max-height: 80%">
  <div style="width: 100%">
    <h1>Your Homes</h1>
    <div style="display: flex; flex-wrap: wrap; gap: 35px; max-height: 100%; overflow: scroll">
      @if (homeInfo.length > 0) {
        @for (home of homeInfo; track home.homeId) {
          <div style="margin-bottom: 10px">
            <home-card [homeInfo]="home" (homeDeleted)="homeDeletedAction($event)" />
          </div>
        }
      }
    </div>
  </div>
  <div style="width: 200px; padding: 10px">
    <div>
      <div><button matButton="filled" (click)="registerHome()">Register New Home</button></div>
    </div>
    <div>
      <home-item-totals
        [displayTotalHomes]="true"
        [totalHomes]="totalHomes"
        [displayTotalLocations]="true"
        [totalLocations]="totalLocations"
        [displayTotalDevices]="true"
        [totalDevices]="totalDevices"
      />
    </div>
  </div>
</div>
